html {
    width: 100%;
    height: 100%;
}

body {
    background: linear-gradient(-45deg, rgb(0, 130, 170) 10%, #222daa);
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 30px auto 0;
    width: 90%;
    background-color: #fff;
    font-size: 1.2rem;
}


h1 {
    font-size: 2rem;
    padding: 20px;
    border-bottom-style: solid;
    border-color: rgba(185, 185, 185, 0.63);
    border-width: 2px;
}

main p:nth-of-type(1) {
    font-size:3rem;
    padding: 20px 20px 10px 20px;
}

.spacing{
    margin: 20px 20px 10px;
}

.buttons {
    display: flex;
    margin-top: 30px;
}


#scoreOne {
    font-size: 8rem;
    color: #c00000;
}

#scoreTwo {
    font-size:8rem;
    color: #009c00;
}