html {
    width: 100%;
    height: 100%;
}

body {
    background: linear-gradient(-45deg, rgb(0, 130, 170) 10%, #222daa);
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 30px auto 0;
    width: 90%;
    background-color: #fff;
    font-size: 1.2rem;
    border-radius: 2%;
}


h1 {
    font-size: 2rem;
    padding: 20px;
    border-bottom-style: solid;
    border-color: rgba(185, 185, 185, 0.63);
    border-width: 2px;
}

main p:nth-of-type(1) {
    font-size:3rem;
    padding: 20px 20px 10px 20px;
}

.spacing{
    margin: 20px 20px 10px;
}

.buttons {
    display: flex;
    margin-top: 30px;
}


#scoreOne {
    font-size: 8rem;
    color: #c00000;
}

#scoreTwo {
    font-size:8rem;
    color: #009c00;
}

.buttonStyle {
    flex: 1;
    padding: 13px 0;
    border-style: none;
    border-radius: 3%;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.buttonStyle:hover {
    cursor: pointer;
}

#playerOne {
    background-color: #00ceac;
}

#playerOne:active{
    background-color: #009178;
    color: #ffffff3d;
    transition: 
        background-color 0.6ms,
        color 0.6ms;
}

#playerOne:disabled {
    background-color: #005f4f;
    color: #ffffff3d;
    cursor: default;
}

#playerTwo {
    background-color: #00b6ce;
}

#playerTwo:active{
    background-color: #008da0;
    color: #ffffff3d;
    transition: 
        background-color 0.6ms,
        color 0.6ms;
}

#playerTwo:disabled {
    background-color: #00626e;
    color: #ffffff3d;
    cursor: default;
}

#reset {
    background-color: #c00000;
}

#reset:active{
    background-color: #7c0000;
    color: #ffffff3d;
    transition: 
        background-color 0.6ms,
        color 0.6ms;
}