html {
    width: 100%;
    height: 100%;
}

body {
    background: linear-gradient(-45deg, #0082aa 10%, #222daa);
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    margin: 30px auto;
}

.content {
    width: 100%;
    background-color: #fff;
    font-size: 1.2rem;
    border-radius: 1%;
}

header img{
    width: 100%;
    border-radius: 1%;
}


h1 {
    font-size: 2rem;
    padding: 20px;
    border-bottom-style: solid;
    border-color: rgba(185, 185, 185, 0.63);
    border-width: 2px;
}

main p:nth-of-type(1) {
    font-size:3rem;
    margin: 20px 20px 10px 20px;
}

.spacing{
    margin: 20px 20px 10px;
}

.buttons {
    display: flex;
    margin-top: 30px;
}


#scoreOne {
    font-size: 8rem;
}

#scoreTwo {
    font-size:8rem;
}

.buttonStyle {
    flex: 1;
    padding: 13px 0;
    border-style: none;
    border-radius: 3%;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.buttonStyle:hover {
    cursor: pointer;
}

#playerOne {
    background-color: #00ceac;
}

#playerOne:active{
    background-color: #009178;
    color: #ffffff3d;
    transition: 
        background-color 0.6ms,
        color 0.6ms;
}

#playerOne:disabled {
    background-color: #005f4f;
    color: #ffffff3d;
    cursor: default;
}

#playerTwo {
    background-color: #00b6ce;
}

#playerTwo:active{
    background-color: #008da0;
    color: #ffffff3d;
    transition: 
        background-color 0.6ms,
        color 0.6ms;
}

#playerTwo:disabled {
    background-color: #00626e;
    color: #ffffff3d;
    cursor: default;
}

#reset {
    background-color: #c00000;
}

#reset:active{
    background-color: #7c0000;
    color: #ffffff3d;
    transition: 
        background-color 0.6ms,
        color 0.6ms;
}

#finalScore {
    height: 30px;
    width: 100px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    border: 3px solid #6d6dff70;
    border-radius: 6%;
}

.bold {
    font-weight: 700;
}

@media(min-width: 768px){
    .container{
        width: 700px;
    }
}

.winner {
    color: #009c00;
}

.loser {
    color: #c00000;
}